.about{
    padding-top: 119px;
    padding-bottom: 120px;
    @include sm{
        padding-top: 90px;
        padding-bottom: 90px;
    }
    & .player-wrapper{
        position: relative;
        margin-top: 55px;
        @include sm{
            margin-top: 25px;
        }
    }
    .section-title{
        max-width: 709px;
        margin-inline: auto;
        margin-bottom: 10px;
    }
}
.video_player{
    height: 700px;
    @include sm{
        height: 300px !important; 
    }
    @include ssm{
        height: 200px;
    }
}
.react-player__preview{
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: contain !important;
    @include sm{
        height: 300px !important; 
    }
    @include ssm{
        height: 200px;
    }
}

@media(min-width:767px) and (max-width:992px){
    .video_player {
        height: 400px !important;
    }
}

.react-player__preview {
    svg{
        @include sm{
            max-width: 280px;
        }
    }
}