.gallery-area{
    padding-top: 119px;
    padding-bottom: 119px;
    position: relative;
    z-index: 1;
    background-image: url('../img/gallery-bg.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    @include sm{
        background-size: cover;
        padding-top: 80px;
        padding-bottom: 100px;
    }
    .section-title{
        margin-bottom: 60px;
    }
}
.yarl__container {
    background-color: var(--yarl__container_background_color, var(--yarl__color_backdrop, #000000c2));
}
.yarl__portal_open {
    z-index: 999999;
}