.marquee {
    border-left: none;
    border-right: none;
    padding: 50px 0;
    width: 110%;
    left: -5%;
    position: relative;
    z-index: 99;
    overflow-x: hidden;
    background: #141515;
    @include sm {
        padding: 20px 0;
    }
    .rfm-initial-child-container {
        gap: 70px;
        overflow: hidden;
        @include sm{
            gap:30px;
        }
        .rfm-child {
            figure {
                img {
                    max-width: 421px;
                    @include sm{
                        max-width: 170px;
                    }
                }
            }
        }
    }
}
