@mixin transition {
    transition: all .3s ease-in-out;
}

@mixin img($property) {
    width: 100%;
    height: 100%;
    object-fit: $property;
    position: absolute;
    top: 0;
    left: 0;
}

@mixin postion_middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin middle_clear {
    position: unset;
    top: 0%;
    left: 0%;
    transform: translate(0, 0);
}

@mixin potion_left {
    position: absolute;
    top: 0;
    left: 0;
}

@mixin potion_right {
    position: absolute;
    top: 0;
    right: 0;
}

@mixin Krungthep {
    font-family: "Krungthep";
}



@mixin beforeAfter {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

@mixin font-100{
    font-size: 100px;
    line-height: 1.4;
    @include xxl {
        font-size: 80px;
    }
    @include xl {
        font-size: 70px;
    }
    @include lg {
        font-size: 65px;
    }
    @include md {
        font-size: 55px;
    }
    @include sm {
        font-size: 40px;
    }
}


@mixin font-84{
    font-size: 84px;
    line-height: normal;
    @include xxl {
        font-size:65px;
    }
    @include xl {
        font-size: 55px;
    }
    @include lg {
        font-size: 50px;
    }
    @include md {
        font-size: 45px;
    }
    @include sm {
        font-size: 40px;
    }
}


@mixin font-40 {
    font-size: 40px;
    line-height: 160%;
    @include xl {
        font-size: 35px;
    }
    @include lg {
        font-size: 30px;
    }
    @include mmd {
        font-size: 25px;
    }
}

@mixin font-32 {
    font-size: 32px;
    line-height: 160%;
    @include md {
        font-size: 30px;
    }
    @include sm {
        font-size: 25px;
    }
}


@mixin font-24 {
    font-size: 24px;
    line-height: normal;
    @include lg {
        font-size: 22px;
    }
    @include md {
        font-size: 20px;
    }
    @include sm {
        font-size: 18px;
    }
}

@mixin font-22 {
    font-size: 22px;
    line-height: 150%;
    @include lg {
        font-size: 18px;
    }
    @include md {
        font-size: 18px;
    }
    @include sm {
        font-size: 16px;
    }
}

@mixin font-18 {
    font-size: 18px;
    line-height: 150%;
    @include lg {
        font-size: 17px;
    }
    @include mmd {
        font-size: 16px;
    }
}

@mixin font-16 {
    font-size: 16px;
    line-height: normal;
}


@mixin flex {
    display: flex;
    align-items: center;
}