.howtobuy{
    &-area{
        position: relative;
        z-index: 1;
        padding-top: 119px;
        padding-bottom: 119px;
        @include mmd{
            padding-top: 100px;
            padding-bottom: 100px;
        }
        .section-title{
            max-width: 668px;
            margin-inline: auto;
            h2{ 
                @include sm{
                    font-size: 40px;
                }
            }
            p{
                color: var(--White, #FFF);
                @include font-22;
                line-height: 150%; 
                text-transform: uppercase;
            }
        }
        .vertical-timeline-element--work{
            h3{
                color: var(--Black, #0E0E0D);
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: 110%; /* 35.2px */
                text-transform: uppercase;
                margin-bottom: 30px;
            }
            ul{
                li{
                    color: var(--Black, #0E0E0D);
                    font-family: "Kanit", sans-serif;
                    @include font-22;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 33px */
                    text-transform: uppercase;
                    position: relative;
                    padding-left: 30px;
                    margin-bottom: 15px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    &::before{
                        position: absolute;
                        content: "";
                        left: 0;
                        top: 8px;
                        width: 16px;
                        height: 16px;
                        background-color: #0C0D0D;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}
.vertical-timeline{
    margin-top: 104px;
    padding: 0;
    @include xl{
        margin-top: 80px;
    }
    @include lg{
        margin-top: 60px;
    }
    @include mmd{
        margin-top: 60px;
    }
}
.vertical-timeline::before {
    width: 12px;
    background-image: url('../img/roadmapLine.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
    top: 20px;
}
.roadmapDot {
    position: absolute;
    left: -100px;
    max-width: 61px;
    top: 8px
}

.vertical-timeline--two-columns .vertical-timeline-element-content{
    border-radius: 24px;
    border: 1px solid var(--Black, #0E0E0D);
    background: var(--Primary, #00F6FF);
    box-shadow: 4px 4px 0px 0px #404141;
    padding: 40px;
    @include sm{
        padding-bottom: 30px;

    }
}
.vertical-timeline--two-columns .vertical-timeline-element-icon {
 display: none;
}
.howtobuy-area .vertical-timeline-element--work:nth-child(even) .vertical-timeline-element-icon {
   display: none;
}

.howtobuy-area .vertical-timeline-element--work:nth-child(odd) .roadmapDot {
    left: auto;
    right: -110px;
}
  
.vertical-timeline--two-columns .vertical-timeline-element-content-arrow{
    display: none;
}

.line {
    width: 70px;
    height: 1px;
    position: absolute;
    right: -67px;
    border-bottom: 2px dashed #fff;
}
.howtobuy-area .vertical-timeline-element--work:nth-child(even) .number{
    left: -23px;
}

.howtobuy-area .vertical-timeline-element--work:nth-child(even) .line {
    left: -68px;
}


.vertical-timeline-element {
    margin:0;
}


@media(max-width:480px){
    .vertical-timeline-element-content.bounce-in {
        max-width: 403px;
    }
}

@media only screen and (max-width: 1169px){
    .vertical-timeline.vertical-timeline--two-columns {
        max-width: 767px;
        &::before{
            display: none;
        }
    }
    .vertical-timeline-element-content{
        margin-bottom: 30px;
    }
    .vertical-timeline--two-columns .vertical-timeline-element-icon {
        width: 67px;
        height: 60px;
        left: 50%;
        margin-left: -69px;
        border: 0;
        height: 0;
        color: #fff;
        border: 0px solid #fff;
        border-radius: 0;
        top: 50%;
    }
    .timelinelogo {
        position: absolute;
        left: 40px;
        top: -60px !important;
        max-width: 90px;
        height: 150px;
        img{
            max-width: 90px;
        }
    }
    .vertical-timeline {
        margin-top: 60px !important;
        padding-left: 15px;
        padding-right: 15px;
    }
    .howtobuy-area .vertical-timeline-element--work .line {
        display: none;
    }
    .roadmapDot {
       display: none;
    }
    .vertical-timeline-element-content{
        margin-left: 0;
    }
}
@media(min-width:1170px){
    .howtobuy-area .vertical-timeline-element--work:nth-child(2){
        margin-top: -20px;
    }
    
    .howtobuy-area .vertical-timeline-element--work:nth-child(4){
        margin-top: -50px;
    }
}



@media (min-width:1170px) and (max-width:1280px){
    .vertical-timeline.vertical-timeline--two-columns {
        width: 1170px;
    }
    .vertical-timeline::before {
        top: 15px;
        height: 100%;
    }
    .howtobuy-area .vertical-timeline-element--work:nth-child(odd) .roadmapDot {
        right: -105px;
    }
    .roadmapDot {
        left: -97px;
    }
}
